In [1]:
import pandas as pd
import xlrd

In [94]:
df_ventas=pd.read_excel('RegistrosVentas.xlsx', index_col=0)
df_ventas.head() #Los 5 primeros registros
df_ventas.tail(10) #Los 10 ultimos registros

,Zona,País,Tipo_Producto,Canal_Venta,Prioridad,Fecha_Pedido,ID_Pedido,Fecha_Envío,Unidades,Precio_Unitario,Coste_Unitario,ImporteVentaTotal,ImporteCosteTotal
ID_Cliente,,,,,,,,,,,,,
C9909,Australia y Oceanía,Australia,Frutas,Online,Media,2021-12-21,990975224.0,2022-01-27,445.0,9.33,6.92,4151.85,3079.4
C9910,Europa,Kosovo,Verduras,Online,Media,2021-08-14,991019856.0,2021-09-25,3653.0,154.06,90.93,562781.18,332167.29
C9920,África,Lebanon,Alimento infantil,Online,Alta,2020-03-06,992061841.0,2020-03-24,1999.0,255.28,159.42,510304.72,318680.58
C9921,Europa,Romania,Cosméticos,Offline,Media,2020-01-28,992130506.0,2020-03-03,2319.0,437.20,263.33,1013866.80,610662.27
C9933,Asia,Myanmar,Material de oficina,Online,Baja,2021-01-17,993326127.0,2021-02-18,6130.0,651.21,524.96,3991917.30,3218004.8
C9949,Europa,Germany,Verduras,Online,Crítica,2021-10-14,994932448.0,2021-11-23,1476.0,154.06,90.93,227392.56,134212.68
C9950,Europa,Ukraine,Alimento infantil,Offline,Alta,2021-10-22,995013129.0,2021-11-27,5351.0,255.28,159.42,1366003.28,853056.42
C9962,Europa,Cyprus,Cereales,Offline,Media,2022-08-31,996237075.0,2022-08-31,7544.0,205.70,117.11,1551800.80,883477.84
C9964,Norteamérica,Greenland,Material de oficina,Online,Baja,2020-12-12,996425902.0,2021-01-02,3422.0,651.21,524.96,2228440.62,1796413.12
C9987,Asia,Malaysia,Ropa,Offline,Alta,2020-03-05,998791825.0,2020-03-21,3551.0,109.28,35.84,388053.28,127267.84

In [24]:
#df_ventas[['Tipo_Producto','Prioridad']] #Muestra 2 columnas
cereal=df_ventas[df_ventas['Tipo_Producto']=='Cereales'][['Tipo_Producto','Zona','País']]
cereal.shape
cereal.count()

Zona                 95
País                 95
Tipo_Producto        95
Canal_Venta          95
Prioridad            95
Fecha_Pedido         95
ID_Pedido            95
Fecha_Envío          95
Unidades             94
Precio_Unitario      95
Coste unitario       95
ImporteVentaTotal    95
ImporteCosteTotal    95
dtype: int64

In [32]:
#Cereal_bebida=df_ventas[df_ventas['Tipo_Producto'].isin(['Cereales','Bebidas'])]
Cereal_bebida=df_ventas[(df_ventas['Tipo_Producto']=='Cereales') | (df_ventas['Tipo_Producto']=='Bebida')]
Cereal_bebida

,Zona,País,Tipo_Producto,Canal_Venta,Prioridad,Fecha_Pedido,ID_Pedido,Fecha_Envío,Unidades,Precio_Unitario,Coste unitario,ImporteVentaTotal,ImporteCosteTotal
ID_Cliente,,,,,,,,,,,,,
C1062,Centroamérica y Caribe,Cuba,Cereales,Online,Crítica,2022-06-13,106213176.0,2022-07-15,9694.0,205.7,117.11,1994055.8,1135264.34
C1069,África,Oman,Cereales,Offline,Crítica,2021-06-23,106946170.0,2021-07-27,6603.0,205.7,117.11,1358237.1,773277.33
C1118,Australia y Oceanía,East Timor,Bebida,Offline,Alta,2020-07-30,111818778.0,2020-08-23,8516.0,47.45,31.79,404084.2,270723.64
C1123,África,Togo,Cereales,Offline,Alta,2021-10-01,112364661.0,2021-11-09,55.0,205.7,117.11,11313.5,6441.05
C1124,Europa,Norway,Cereales,Online,Media,2021-10-16,112408006.0,2021-10-23,2882.0,205.7,117.11,592827.4,337511.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...
C9679,Asia,Taiwan,Bebida,Online,Media,2021-01-10,967977750.0,2021-02-22,4982.0,47.45,31.79,236395.9,158377.78
C9758,Australia y Oceanía,Palau,Cereales,Online,Crítica,2020-12-19,975804221.0,2021-01-13,1008.0,205.7,117.11,207345.6,118046.88
C9802,África,Morocco,Cereales,Offline,Baja,2020-12-15,980211198.0,2020-12-15,5131.0,205.7,117.11,1055446.7,600891.41
C9804,África,Botswana,Cereales,Offline,Baja,2022-07-07,980479419.0,2022-08-06,4503.0,205.7,117.11,926267.1,527346.33
C9962,Europa,Cyprus,Cereales,Offline,Media,2022-08-31,996237075.0,2022-08-31,7544.0,205.7,117.11,1551800.8,883477.84

In [36]:
Cereal_Alta=df_ventas[(df_ventas['Tipo_Producto']=='Cereales') & (df_ventas['Prioridad']=='Alta')]
Cereal_Alta

,Zona,País,Tipo_Producto,Canal_Venta,Prioridad,Fecha_Pedido,ID_Pedido,Fecha_Envío,Unidades,Precio_Unitario,Coste unitario,ImporteVentaTotal,ImporteCosteTotal
ID_Cliente,,,,,,,,,,,,,
C1123,África,Togo,Cereales,Offline,Alta,2021-10-01,112364661.0,2021-11-09,55.0,205.7,117.11,11313.5,6441.05
C1277,África,Nigeria,Cereales,Offline,Alta,2021-03-20,127702176.0,2021-05-02,8767.0,205.7,117.11,1803371.9,1026703.37
C1347,África,Qatar,Cereales,Offline,Alta,2020-10-29,134709823.0,2020-11-25,2485.0,205.7,117.11,511164.5,291018.35
C1896,Norteamérica,Greenland,Cereales,Offline,Alta,2021-11-19,189676654.0,2022-01-01,8392.0,205.7,117.11,1726234.4,982787.12
C2640,Asia,Philippines,Cereales,Offline,Alta,2021-03-10,264075124.0,2021-03-11,4552.0,205.7,117.11,936346.4,533084.72
C3108,Australia y Oceanía,Tuvalu,Cereales,Online,Alta,2020-01-27,310803496.0,2020-03-04,2516.0,205.7,117.11,517541.2,294648.76
C3428,Asia,Sri Lanka,Cereales,Offline,Alta,2021-09-24,342882716.0,2021-10-09,5470.0,205.7,117.11,1125179,640591.7
C3543,Australia y Oceanía,Tonga,Cereales,Online,Alta,2022-02-17,354335105.0,2022-04-07,4487.0,205.7,117.11,922975.9,525472.57
C3595,Asia,Myanmar,Cereales,Offline,Alta,2022-01-31,359565198.0,2022-03-01,2187.0,205.7,117.11,449865.9,256119.57
C4180,África,Lebanon,Cereales,Offline,Alta,2022-01-27,418010747.0,2022-02-07,7524.0,205.7,117.11,1547686.8,881135.64
C5000,Europa,Netherlands,Cereales,Offline,Alta,2021-12-30,500025403.0,2022-02-15,7483.0,205.7,117.11,1539253.1,876334.13
C5078,Asia,Cambodia,Cereales,Offline,Alta,2020-09-04,507809388.0,2020-09-05,937.0,205.7,117.11,192740.9,109732.07
C5778,África,Burkina Faso,Cereales,Online,Alta,2022-07-21,577811181.0,2022-08-23,6024.0,205.7,117.11,1239136.8,705470.64
C5969,África,Liberia,Cereales,Offline,Alta,2021-05-06,596980178.0,2021-06-17,8556.0,205.7,117.11,1759969.2,1001993.16
C6001,África,Syria,Cereales,Offline,Alta,2021-11-02,600137031.0,2021-11-15,2739.0,205.7,117.11,563412.3,320764.29
C6411,Asia,Malaysia,Cereales,Online,Alta,2021-07-20,641120326.0,2021-09-03,606.0,205.7,117.11,124654.2,70968.66
C6958,Centroamérica y Caribe,Costa Rica,Cereales,Online,Alta,2020-07-30,695891892.0,2020-08-03,8730.0,205.7,117.11,1795761,1022370.3
C7036,Europa,Sweden,Cereales,Online,Alta,2020-04-27,703659999.0,2020-05-14,7485.0,205.7,117.11,1539664.5,876568.35
C7384,Europa,Serbia,Cereales,Online,Alta,2022-08-23,738479363.0,2022-09-07,1309.0,205.7,117.11,269261.3,153296.99
C8616,África,Mauritania,Cereales,Offline,Alta,2021-12-30,861686313.0,2021-12-30,983.0,205.7,117.11,202203.1,115119.13
C8655,África,Morocco,Cereales,Online,Alta,2020-10-04,865581738.0,2020-10-23,3726.0,205.7,117.11,766438.2,436351.86
C8711,Asia,Uzbekistan,Cereales,Offline,Alta,2021-08-28,871178328.0,2021-08-28,9882.0,205.7,117.11,2032727.4,1157281.02
C9145,Asia,Taiwan,Cereales,Online,Alta,2021-12-09,914538705.0,2021-12-26,1181.0,205.7,117.11,242931.7,138306.91

In [43]:
import datetime as dt
anio=df_ventas[(df_ventas['Fecha_Pedido'].dt.year==2020)]
anio

,Zona,País,Tipo_Producto,Canal_Venta,Prioridad,Fecha_Pedido,ID_Pedido,Fecha_Envío,Unidades,Precio_Unitario,Coste unitario,ImporteVentaTotal,ImporteCosteTotal
ID_Cliente,,,,,,,,,,,,,
C1008,Asia,Tajikistan,Alimento infantil,Online,Alta,2020-04-01,100884807.0,2020-04-30,2911.0,255.28,159.42,743120.08,464071.62
C1061,Europa,Czech Republic,Material de oficina,Offline,Crítica,2020-01-29,106102883.0,2020-02-28,7056.0,651.21,524.96,4594937.76,3704117.76
C1118,Australia y Oceanía,East Timor,Bebida,Offline,Alta,2020-07-30,111818778.0,2020-08-23,8516.0,47.45,31.79,404084.2,270723.64
C1139,Europa,Estonia,Snacks,Offline,Alta,2020-06-03,113968408.0,2020-06-26,4639.0,152.58,97.44,707818.62,452024.16
C1161,Europa,Germany,Bebida,Online,Media,2020-08-18,116113746.0,2020-09-01,9493.0,47.45,31.79,450442.85,301782.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...
C9899,África,Eritrea,Material de oficina,Offline,Media,2020-12-27,989975297.0,2021-02-07,4545.0,651.21,524.96,2959749.45,2385943.2
C9920,África,Lebanon,Alimento infantil,Online,Alta,2020-03-06,992061841.0,2020-03-24,1999.0,255.28,159.42,510304.72,318680.58
C9921,Europa,Romania,Cosméticos,Offline,Media,2020-01-28,992130506.0,2020-03-03,2319.0,437.2,263.33,1013866.8,610662.27
C9964,Norteamérica,Greenland,Material de oficina,Online,Baja,2020-12-12,996425902.0,2021-01-02,3422.0,651.21,524.96,2228440.62,1796413.12
C9987,Asia,Malaysia,Ropa,Offline,Alta,2020-03-05,998791825.0,2020-03-21,3551.0,109.28,35.84,388053.28,127267.84

In [45]:
Cereal_Alta_2020=df_ventas[(df_ventas['Tipo_Producto']=='Cereales') & (df_ventas['Prioridad']=='Alta') & (df_ventas['Fecha_Pedido'].dt.year==2020)]
Cereal_Alta_2020

,Zona,País,Tipo_Producto,Canal_Venta,Prioridad,Fecha_Pedido,ID_Pedido,Fecha_Envío,Unidades,Precio_Unitario,Coste unitario,ImporteVentaTotal,ImporteCosteTotal
ID_Cliente,,,,,,,,,,,,,
C1347,África,Qatar,Cereales,Offline,Alta,2020-10-29,134709823.0,2020-11-25,2485.0,205.7,117.11,511164.5,291018.35
C3108,Australia y Oceanía,Tuvalu,Cereales,Online,Alta,2020-01-27,310803496.0,2020-03-04,2516.0,205.7,117.11,517541.2,294648.76
C5078,Asia,Cambodia,Cereales,Offline,Alta,2020-09-04,507809388.0,2020-09-05,937.0,205.7,117.11,192740.9,109732.07
C6958,Centroamérica y Caribe,Costa Rica,Cereales,Online,Alta,2020-07-30,695891892.0,2020-08-03,8730.0,205.7,117.11,1795761,1022370.3
C7036,Europa,Sweden,Cereales,Online,Alta,2020-04-27,703659999.0,2020-05-14,7485.0,205.7,117.11,1539664.5,876568.35
C8655,África,Morocco,Cereales,Online,Alta,2020-10-04,865581738.0,2020-10-23,3726.0,205.7,117.11,766438.2,436351.86

In [53]:
#Unidades=df_ventas[(df_ventas['Unidades']>=8000) & (df_ventas['Unidades']>=8100)]
Unidades=df_ventas[df_ventas['Unidades'].between(8031,8100)]
Unidades

,Zona,País,Tipo_Producto,Canal_Venta,Prioridad,Fecha_Pedido,ID_Pedido,Fecha_Envío,Unidades,Precio_Unitario,Coste unitario,ImporteVentaTotal,ImporteCosteTotal
ID_Cliente,,,,,,,,,,,,,
C1172,África,Liberia,Verduras,Offline,Baja,2021-02-14,117223966.0,2021-02-25,8031.0,154.06,90.93,1237255.86,730258.83
C7855,Asia,Thailand,Snacks,Offline,Alta,2020-12-17,785507714.0,2020-12-31,8043.0,152.58,97.44,1227200.94,783709.92
C8924,África,The Gambia,Material de oficina,Online,Alta,2022-06-08,892427861.0,2022-07-25,8091.0,651.21,524.96,5268940.11,4247451.36
C9185,Australia y Oceanía,Nauru,Cárnicos,Offline,Alta,2022-05-14,918515670.0,2022-06-07,8053.0,421.89,364.69,3397480.17,2936848.57
C9689,África,Qatar,Cárnicos,Offline,Media,2021-02-04,968968236.0,2021-03-08,8088.0,421.89,364.69,3412246.32,2949612.72

In [63]:
df_ventas.iloc[:2,2:]

,Tipo_Producto,Canal_Venta,Prioridad,Fecha_Pedido,ID_Pedido,Fecha_Envío,Unidades,Precio_Unitario,Coste unitario,ImporteVentaTotal,ImporteCosteTotal
ID_Cliente,,,,,,,,,,,
C1008,Alimento infantil,Online,Alta,2020-04-01,100884807.0,2020-04-30,2911.0,255.28,159.42,743120.08,464071.62
C1061,Material de oficina,Offline,Crítica,2020-01-29,106102883.0,2020-02-28,7056.0,651.21,524.96,4594937.76,3704117.76

In [65]:
df_ventas.loc[df_ventas.index=='C1172',['Zona','País','Tipo_Producto']]

              Zona     País Tipo_Producto
ID_Cliente
C1172       África  Liberia      Verduras

In [73]:
#df_ventas.loc[df_ventas['País'].str.startswith('C')]
df_cuba=df_ventas.loc[df_ventas['País']=='Cuba']
df_cuba

,Zona,País,Tipo_Producto,Canal_Venta,Prioridad,Fecha_Pedido,ID_Pedido,Fecha_Envío,Unidades,Precio_Unitario,Coste unitario,ImporteVentaTotal,ImporteCosteTotal
ID_Cliente,,,,,,,,,,,,,
C1061,Europa,Czech Republic,Material de oficina,Offline,Crítica,2020-01-29,106102883.0,2020-02-28,7056.0,651.21,524.96,4594937.76,3704117.76
C1062,Centroamérica y Caribe,Cuba,Cereales,Online,Crítica,2022-06-13,106213176.0,2022-07-15,9694.0,205.7,117.11,1994055.8,1135264.34
C1089,África,Cape Verde,Frutas,Online,Media,2021-10-27,108907830.0,2021-10-31,7102.0,9.33,6.92,66261.66,49145.84
C1253,Europa,Czech Republic,Material de oficina,Online,Alta,2021-06-20,125325524.0,2021-06-24,5463.0,651.21,524.96,3557560.23,2867856.48
C1528,Europa,Cyprus,Bebida,Online,Crítica,2021-09-11,152819240.0,2021-10-16,1464.0,47.45,31.79,69466.8,46540.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...
C9416,África,Cape Verde,Bebida,Offline,Crítica,2021-11-01,941685664.0,2021-12-21,4569.0,47.45,31.79,216799.05,145248.51
C9487,África,Central African Republic,Cuidado personal,Offline,Alta,2020-07-09,948761546.0,2020-07-13,8480.0,81.73,56.67,693070.4,480561.6
C9498,Asia,China,Cuidado personal,Offline,Baja,2020-07-18,949826705.0,2020-09-06,3684.0,81.73,56.67,301093.32,208772.28
C9592,Europa,Cyprus,Alimento infantil,Online,Alta,2020-02-19,959272372.0,2020-03-01,8867.0,255.28,159.42,2263567.76,1413577.14
C9962,Europa,Cyprus,Cereales,Offline,Media,2022-08-31,996237075.0,2022-08-31,7544.0,205.7,117.11,1551800.8,883477.84

In [75]:
df_ventas.groupby('Tipo_Producto').size()

Tipo_Producto
Alimento infantil      73
Bebida                 87
Cereales               95
Cosméticos             74
Cuidado personal       84
Cárnicos               84
Doméstico              83
Frutas                 86
Material de oficina    80
Ropa                   78
Snacks                 87
Verduras               89
dtype: int64

In [76]:
df_ventas.groupby('Tipo_Producto')['Unidades'].agg(['min','max','mean','sum','count'])

                       min     max         mean       sum  count
Tipo_Producto
Alimento infantil    154.0  9912.0  5914.232877  431739.0     73
Bebida                 1.0  9740.0  5248.827586  456648.0     87
Cereales              55.0  9882.0  4794.744681  450706.0     94
Cosméticos           187.0  9730.0  5013.945946  371032.0     74
Cuidado personal     276.0  9989.0  5418.809524  455180.0     84
Cárnicos              10.0  9453.0  5037.500000  423150.0     84
Doméstico            239.0  9904.0  4846.096386  402226.0     83
Frutas                17.0  9884.0  4768.164706  405294.0     85
Material de oficina  236.0  9655.0  4554.062500  364325.0     80
Ropa                 183.0  9673.0  4837.743590  377344.0     78
Snacks               474.0  9707.0  5360.402299  466355.0     87
Verduras              91.0  9946.0  4639.808989  412943.0     89

In [77]:
df_ventas.isnull().sum(axis=0)

Zona                 0
País                 0
Tipo_Producto        0
Canal_Venta          0
Prioridad            0
Fecha_Pedido         1
ID_Pedido            1
Fecha_Envío          3
Unidades             2
Precio_Unitario      0
Coste unitario       0
ImporteVentaTotal    0
ImporteCosteTotal    0
dtype: int64

In [92]:
df_ventas[df_ventas['Unidades'].isnull()]
#df_ventas.Unidades=df_ventas.Unidades.fillna(df_ventas.ImporteVentaTotal/df_ventas.Precio_Unitario)

Empty DataFrame
Columns: [Zona, País, Tipo_Producto, Canal_Venta, Prioridad, Fecha_Pedido, ID_Pedido, Fecha_Envío, Unidades, Precio_Unitario, Coste unitario, ImporteVentaTotal, ImporteCosteTotal]
Index: []

In [80]:
df_ventas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, C1008 to C9987
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Zona               1000 non-null   object
 1   País               1000 non-null   object
 2   Tipo_Producto      1000 non-null   object
 3   Canal_Venta        1000 non-null   object
 4   Prioridad          1000 non-null   object
 5   Fecha_Pedido       999 non-null    datetime64[ns]
 6   ID_Pedido          999 non-null    float64
 7   Fecha_Envío        997 non-null    datetime64[ns]
 8   Unidades           998 non-null    float64
 9   Precio_Unitario    1000 non-null   object
 10  Coste unitario     1000 non-null   object
 11  ImporteVentaTotal  1000 non-null   object
 12  ImporteCosteTotal  1000 non-null   object
dtypes: datetime64[ns](2), float64(2), object(9)
memory usage: 141.7+ KB

In [95]:
df_ventas.dtypes

Zona                         object
País                         object
Tipo_Producto                object
Canal_Venta                  object
Prioridad                    object
Fecha_Pedido         datetime64[ns]
ID_Pedido                   float64
Fecha_Envío          datetime64[ns]
Unidades                    float64
Precio_Unitario             float64
Coste_Unitario               object
ImporteVentaTotal           float64
ImporteCosteTotal            object
dtype: object

In [96]:
#df_ventas.Precio_Unitario=df_ventas.Precio_Unitario.astype(float)
#df_ventas.ImporteVentaTotal=df_ventas.ImporteVentaTotal.astype(float)
df_ventas.Coste_Unitario=df_ventas.Coste_Unitario.astype(float)

ValueError: could not convert string to float: '50s,54'